<mat-drawer-container class="example-container" autosize>
  <mat-drawer
    #drawer
    class="example-sidenav"
    mode="side"
    class="w-72 text-center"
  >
    <div
      class="p-4 text-3xl italic text-violet-700 shadow-sm cursor-pointer font-bold"
    >
      <span>Staff</span>
    </div>
    <div class="mt-2">
      <ul>
        <li *ngFor="let item of menuItens" class="p-5 shadow-md my-2">
          <button>
            {{ item.label }}
          </button>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="h-screen">
    <app-toolbar (toogleSideMenu)="drawer.toggle()"></app-toolbar>
    <!-- <button type="button" mat-button (click)="">
      Toggle sidenav
    </button> -->
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
